{
  "presets": [
    [
      "env"
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
